*{
    margin: 0;
    padding: 0;

}


body{
    font-family: 'Anton', sans-serif;

    background-color: darkgrey;
}
img{
    width:25%;



}
p{
    font-family: 'Abel', sans-serif;
}

.banner-image{
    background-size: 100%;
}

